
.App {
  text-align: center;
  background-color: #111111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-header {
  /* height: 10%; */
  position: absolute;
  top: 0;
}

.Welcome-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Welcome-logo {
    animation: Welcome-logo-spin infinite 15s linear;
  }
}


Button {
  /* display: block; */
  color: #097252;
  /* text-decoration: none; */
}

/* .App-button:hover {
  color: #38d3a5;
  text-decoration: none;
} */

@keyframes Welcome-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
